  <%$msgs.reverse[(n*10)-10...n*10].each_with_index do |item, index|%>
    <%=($msgs.length - ((n*10)-10) - index)%> # Name: <%=item[0]%><br/>Time: <%=item[1]%><br>Message: <%=item[2]%><br/><br/>
  <%end%>
  <%if (n != 1)%>
    <a href='/stream/<%=n-1%>'>&lt&ltBack</a>
  <%end%>
  <%if (($msgs.length/10)+1 > n)%>
    <a href='/stream/<%=n+1%>'> Next&gt&gt<br/></a>
  <%end%>